{{ if not .ShowOnlyHtmlInput }}
    {{ if ne .Type "hidden" }}
      {{ if .FieldDisplayName }}<div class="form-group search">
        <div class="input-group">
            <span style="min-width:140px;" class="input-group-addon camelcaseFix">{{ GetDisplayName (Translate .FieldDisplayName) }}</span>
      {{ end }}
    {{ end }}
{{ end }}
        <input class="form-control" name="{{.Name}}" type="{{ .Type }}" value="{{.Value}}" {{ range $k, $v := .Attrs }} {{ attr $k }}="{{ safe $v }}"{{ end }} {{if .ReadOnly}} readonly {{end}} />
{{ if not .ShowOnlyHtmlInput }}
    {{ if ne .Type "hidden" }}
      {{ if .FieldDisplayName }}
        </div>
        </div>
      {{ end }}
    {{ end }}
{{ end }}
