{{ if not .ShowOnlyHtmlInput }}
    {{ if ne .Type "hidden" }}
      {{ if .FieldDisplayName }}
            <td class="hidden-xs">
                <label {{ if .HelpText }}data-toggle="tooltip" data-placement="bottom" data-original-title="{{ Translate .HelpText }}"{{ end }} class="col-sm-12 control-label form_label"><span class="camelcaseFix">{{ GetDisplayName (Translate .FieldDisplayName) }}</span>:
                    <span class="{{ if .HelpText }}text-muted{{ end }}" style="font-size:12px;">
                        {{ if .HelpText }}
                            <i class="fa fa-question-circle"></i>:
                        {{ end }}
                        {{ if .Required }}
                            <span style="color:#f00;font-weight:bold;">&nbsp;*</span>
                        {{ end }}
                    </span>
                </label>
            </td>
      {{ end }}
    {{ end }}
{{ end }}
{{ if eq .Type "hidden" }}
    <input class="form-control strings" name="{{.Name}}" type="{{ .Type }}" value="{{.Value}}" {{ range $k, $v := .Attrs }} {{ attr $k }}="{{ safe $v }}"{{ end }} {{if .ReadOnly}} readonly {{end}} style="border-radius:4px;">
{{ else }}
    {{ if not .ShowOnlyHtmlInput }}
        <td style="width:80%;" class="search">
            <label class="col-sm-12 control-label form_label visible-xs"><span class="camelcaseFix">{{ GetDisplayName (Translate .FieldDisplayName) }}</span>:{{ if .Required }}<span style="color:#f00;font-weight:bold;">&nbsp;*</span>{{ end }}</label>
            <div class="col-sm-12 ">
                <div class="input-group col-sm-12">
    {{ end }}
                {{ if .FormErrorNotEmpty }}
                    {{ range $error := .FormError }}
                        <div class="error-cont">
                            <span>{{ Translate $error }}</span>
                        </div>
                    {{ end }}
                {{ end }}
                {{ if .ReadOnly }}
                    {{.Value}}
                {{ else }}
                <input class="form-control strings" name="{{.Name}}" type="{{ .Type }}" value="{{.Value}}" {{ range $k, $v := .Attrs }} {{ attr $k }}="{{ safe $v }}"{{ end }} {{if .ReadOnly}} readonly {{end}} style="border-radius:4px;">
                {{ end }}
                {{ if .HelpText }}
                    <span class="text-muted" style="font-size:12px;"><i class="fa fa-question-circle"></i> {{ Translate .HelpText }}</span>
                {{ end }}
    {{ if not .ShowOnlyHtmlInput }}
                </div>
            </div>
        </td>
    {{ end }}
{{ end }}
{{ if not .ShowOnlyHtmlInput }}
    {{ if ne .Type "hidden" }}
      {{ if .FieldDisplayName }}
      {{ end }}
    {{ end }}
{{ end }}
