<div class="fixed-top bg-black3 default-padding z-index9 header-container">
    <div class="header-logo" style="display: block-inline;">
        <a href="{{.RootAdminURL}}/">
            <img class="hvr-grow" style="max-height:40px" src="{{.Logo}}">
        </a>
    </div>
    {{if .UserExists}}
        <ul class="admin_font breadcrumbs fontwhite capitalized vertical-center hidden-xs">
        {{ $breadcrumbNumber := 1 }}
        {{ $language := .Language }}
        {{ range $breadcrumb := .BreadCrumbs.GetAll }}
            <li class="breadcrumb-item">
            {{ if eq $breadcrumbNumber 1 }}
            {{ end }}
                <a href="{{ $breadcrumb.URL }}" class="no-style fontwhite">
                  <span {{ if $breadcrumb.IsActive }}class="active"{{ end }}>{{ if $breadcrumb.Icon }}<i class="fa fa-{{ $breadcrumb.Icon }}"></i>{{ end }}{{Tf $language.Code (SplitCamelCase $breadcrumb.Name) }}</span>
                </a>
            {{ $breadcrumbNumber = (add $breadcrumbNumber 1) }}
        {{ end }}
            </li>
        </ul>
    {{end}}
    <div class="header-menu" style="display: block-inline;">
        {{if .UserExists}}
        <div class="admin-button ">
            <span style="margin-left:20px;" class="fontgray pointer hidden-xs" onclick="closetopTabs(this);" data-trigger="admin-toggle" >
                <a href="{{.RootAdminURL}}/setting/setting/" style="text-decoration: none; margin-left:20px;" class="fontgray pointer">
                    <i class="top-panel fa fa-wrench pointer" data-toggle="tooltip" data-placement="bottom" title="{{Tf .Language.Code "Settings"}}"></i>&nbsp;
                </a>
            </span>
            <div style="" id="headtab-container" class="toptabs admin-toggle-size dropdown-menu admin-toggle admin-toggle-padding pull-right">
            </div>
            <button class="searchDark capitalized admin_font fontwhite v-center pointer btn btn-primary"
                    style="margin-left:20px;" onclick="closetopTabs(this);" data-trigger="user-toggle">
                <i class="top-panel fa fa-user fa-fw"></i>
            </button>
            <div style="right:5px;" class="toptabs admin-toggle-size dropdown-menu user-toggle  pull-right">
                <center>
                    <table class="table table-hover drop-table user-menu">
                        <tr class="pointer"><td onclick="clickA(this);" >
                            <a class="no-style" href="{{.RootAdminURL}}/profile/">
                                <i class="fa fa-user-circle-o fa-fw"></i>
                                {{.User}}
                            </a>
                        </td></tr>
                        <tr class="pointer"><td onclick="clickA(this);" ><a  class="no-style" href="{{.RootAdminURL}}/profile/#changepass"><i class="fa fa-lock fa-fw"></i> {{Tf .Language.Code "changepassword"}}</a></td></tr>
                        <tr class="pointer"><td id="admin-logout" onclick="clickA(this);" ><a class="no-style" href="{{.RootAdminURL}}/logout/"><i class="fa fa-sign-out fa-fw"></i> {{Tf .Language.Code "Logout"}}</a></td></tr>
                    </table>
                </center>
            </div>
        </div>
        {{else}} {{/* if .UserExists */}}
        <a class="no-style" href="{{.RootAdminURL}}/">
            {{Tf .Language.Code "signin"}}
        </a>

        {{end}}
    </div>
</div>
