{{Include "header"}}
    <style type="text/css" media="all">
      /* fix rtl for demo */
      .chosen-rtl .chosen-drop { left: -9000px; }
    </style>
    <script>
      var err = 0;
    </script>
{{Include "header-bar"}}
    <div class="container-fluid tohide" id="Login">
      <div class="col-sm-6 col-sm-offset-3">
        <center>
          <span id="logo-top" class="fa-stack fa-lg fa-3x">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
        </center>
        <form method="POST" id="reset-password-form">
          <input type="hidden" name="csrf_token" value="{{CSRF .SessionKey}}" />
          <div class="form-group">
            <label for="password">{{Tf .Language.Code "New Password"}}</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
              <input id="password" type="password" class="form-control" name="password" placeholder="{{Tf .Language.Code "Enter a New Password"}}...">
            </div>
          </div>
          <div class="form-group">
            <label for="confirm_password">{{Tf .Language.Code "Confirm Password"}}</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
              <input id="confirm_password" type="password" class="form-control" name="confirm_password" placeholder="{{Tf .Language.Code "Confirm the new Password"}}...">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">{{Tf .Language.Code "Reset Password"}}</button>
        </form>
        <hr>
        <div class="hidden alert alert-warning error-cont">
          <strong><i class="fa fa-info-circle fa-2x"></i></strong>&nbsp;&nbsp;<span></span>
        </div>
        <div id="info_content">

        </div>
      </div>
    </div>

    <script type="text/javascript">
    if (err == 1){
      $('#logo-top').fadeOut();
      $('#logo-top').fadeIn();
      $('#logo-top').attr('style','color:red;');
    }

      $(function () {
          $('.date').datetimepicker({
            format: "YYYY-MM-DD HH:mm"
          });
      });
    $('#reset-password-form').submit(function(ev) {
      ev.preventDefault();
      var form = $(ev.currentTarget);
      show_loading();
      var urlParams = new URLSearchParams(window.location.search);
      $.ajax({
        url: "/user/api/reset-password/?for-gomonolith-panel=1",
        method: "POST",
        processData: false,
        contentType:"application/json; charset=utf-8",
        data: JSON.stringify({
          code: urlParams.get('code'),
          password: form.find('input[name="password"]').val(),
          confirm_password: form.find('input[name="confirm_password"]').val(),
        }),
        beforeSend: function(xhr){xhr.setRequestHeader('CSRF-TOKEN', form.find('input[name="csrf_token"]').val());},
        success: function() {
          $('.error-cont').toggleClass('hidden', true);
          hide_loading(300);
          location.href = '/admin/';
        },
        error: function(xhr) {
          $('.error-cont').toggleClass('hidden', false);
          $('.error-cont span').html(Translate(JSON.parse(xhr.responseText)));
          hide_loading(300);
        }
      });
    });
    </script>
{{Include "footer"}}
